.input {
    margin-bottom: 10px;
}

table, td, th {
    border: 1px solid #dadad8;
    padding: 15px 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 1rem;
}

th {
    font-size: 20px;
    color: white;
    background-color: #029d5f;
}

td {
    font-size: 20px;
    height: 100%;
    text-align: center;
    color: black;
}